html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: local('Century Gothic'), local('CenturyGothic'),
        url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
        url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-BoldItalic.eot');
    src: local('Century Gothic Bold Italic'), local('CenturyGothic-BoldItalic'),
        url('../fonts/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-BoldItalic.woff2') format('woff2'),
        url('../fonts/CenturyGothic-BoldItalic.woff') format('woff'),
        url('../fonts/CenturyGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Italic.eot');
    src: local('Century Gothic Italic'), local('CenturyGothic-Italic'),
        url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-Italic.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Italic.woff') format('woff'),
        url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@import url('http://fonts.cdnfonts.com/css/azo-sans');


::-webkit-scrollbar { 
    width: 0px;  
    background: transparent;
}

html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;


}

body{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    max-width: 1920px;
    color: #FFFFFF;
    background: #0F1320;
    overflow-x:  hidden;


}
.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #0F1320;
    height: 100px;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0px 0px 40px;

}

.header_logo{
    display: flex;
    margin-right: 84px;
}
.header_nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.header_list_left{
    display: flex;
    flex-direction: row;
}
.header_list_right{
    display: flex;
    flex-direction: row;
}
.header_link{
    text-decoration: none;
    color: white;

}
.header_link_sign_up{
    text-decoration: none;
    color: white;
    border: 2px solid #22A75D;
    box-sizing: border-box;
    border-radius: 52px;
    padding: 14px 40px 14px 40px;


}
.header_item{
    margin-right:30px ;
}
.header_item2{
    margin-right:40px ;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content__text{

    
}

.iphone{
    margin-top: 15px;
    margin-right: -1002px;
    margin-left: 20px;
    position: relative;
    display: grid;

}

.container{
    display: flex;
    flex-direction: row;
    margin-left: 173px;





}
h1{
    font-size: 48px;
    line-height: 54px;
    margin-top: 10px;
}
h5{
    color: #DDE2FF;
    opacity: 0.6;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 55px;
    font-style: normal;
    font-weight: normal;


}
h6{
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #00B4EC, #2B3087);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.button{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    border: 2px solid #22A75D;
    box-sizing: border-box;
    border-radius: 52px;
    background: #22A75D;
    padding: 15px 35px;
    text-decoration: none;
    color: white;


}
.bg_iphone{
    grid-column: 4 / -1;
    grid-row: 1; 
    margin-top: 90px;


}
.frame{
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 4%; 
    z-index: 1;
}
.phone{
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 8%; 
    padding-left: 5%;
    z-index: 5;

}
.creators{
    border: 2px solid #171B29;
    box-sizing: border-box;
    border-radius: 25px;
    background: #171B29;
    padding: 70px 60px;
    width: 777px;
    height: 436px;
    margin-left: 173px;
    padding: 60px 72px 55px 70px;
    justify-content: space-between;
}
.holders{
    border: 2px solid #171B29;
    box-sizing: border-box;
    border-radius: 25px;
    background: #171B29;
    padding: 70px 60px;
    width: 777px;
    height: 436px;
    margin-right: 173px;
    margin-left: 20px;
    margin-top: 93px;
    padding: 60px 72px 55px 70px;
    justify-content: space-between;
}
.info{
    display: flex;

}
.texta{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;

}
.textc{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;

}
.for{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    }
.arrival{
    border: 1px solid #2278D4;
    box-sizing: border-box;
    border-radius: 50px;
    background: #2278D4;
    padding: 25px;
    display: block;
    margin-bottom: 20px;

}
.crown{
    display: block;

    border: 1px solid #22A75D;
    box-sizing: border-box;
    border-radius: 50px;
    background: #22A75D;
    padding: 25px;
    margin-bottom: 20px;
}
.text__colorb{
    color:#2278D4 ;
    text-decoration-line: underline;
}
.text__colorg{
    color:#22A75D; 
    text-decoration-line: underline;
}
.learn{
    display: flex;
}


.arrow{
    margin-left: 6px;
    align-content: center;
    margin-top: 2px;
}
.for{
    margin-bottom: 20px;
}
.textc{
    margin-bottom: 68px;
}
.texta{
    margin-bottom: 20px;
}
.learna{
    color:#2278D4 ;
    text-decoration-line: underline;
}
.learnc{
    color:#22A75D; 
    text-decoration-line: underline;
}
.info2{
    display: flex;
}
.info2{
    margin-top: 120px;
}
.right{
    width: 960px;
    height: 800px;
    background: #FFFFFF;
    border-radius: 400px 0px 0px 0px;
    padding: 296px 230px 130px 143px;
    color: #0F1320;
    display: flex;
}
.text1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
}
.text2{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
}
.text3{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}
.textinfo2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vector1{
    width: 1920px;
    height: 500px;
    background: #FFFFFF;
    position: absolute;
}

.bg1{
    width: 1920px;
    height: 500px;
    background: #0F1320;
    border-radius: 0px 300px 0px 0px;
    z-index: 2;
    position: relative;

}
.qtext{
    display: flex;
    flex-direction: row;
    padding-left: 173px;
    padding-right: 150px;
    justify-content: space-evenly;




}
.q1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 202px;
    margin-right: 31px;
}
.q2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 202px;
    margin-right: 24px;
}
.q3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 202px;
    margin-right: 61px;
    width: 338px;
}
.q4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 202px;
    width: 363px;
}
.text__green{
  
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color:#22A75D ;
    margin-right: 20px;
    align-self: center;

}
.text__blue{

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color:#2278D4;
    margin-right: 20px;
    align-self: center;
}
.text__yellow{

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color:#FFD100 ;
    margin-right: 20px;
    align-self: center;
}
.text__red{

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color:#E20613 ;
    margin-right: 20px;
    align-self: center;
}
.quiz1{

    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    border: 25px solid #22A75D;
    box-sizing: border-box;
    background:#22A75D ;
    color: #0F1320;
    border-radius: 50px 50px 50px 30px;
    margin-right: 10px;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);






}
.markertext{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    opacity: 0.7;

}
.block{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.ru{
    font-size:40px;
    color: #22A75D;

}
.up{
    display: flex;
}
.ru__text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
}
.upg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.block_blue{
    display: flex;
    flex-direction: row;
    margin-top: 50px;    
}
.quiz2{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    border: 25px solid #2278D4;
    box-sizing: border-box;
    background:#2278D4 ;
    color: #0F1320;
    border-radius: 50px 50px 50px 30px;
    margin-right: 10px;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}
.up_blue{
    display: flex;
}
.ru_blue{
    font-size:40px;
    color: #2278D4;
}
.ru__text_blue{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
}
.upb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block_yellow{
    display: flex;
    flex-direction: row;
    margin-top: 50px;    
}
.quiz3{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    border: 25px solid #FFD100;
    box-sizing: border-box;
    background:#FFD100 ;
    color: #0F1320;
    border-radius: 50px 50px 50px 30px;
    margin-right: 10px;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.up_yellow{
    display: flex;
}
.ru_yellow{
    font-size:40px;
    color: #FFD100;
}
.ru__text_yellow{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
}
.upy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.block_red{
    display: flex;
    flex-direction: row;
    margin-top: 50px;    
}
.quiz4{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    border: 25px solid #E20613;
    box-sizing: border-box;
    background:#E20613 ;
    color: #0F1320;
    border-radius: 50px 50px 50px 30px;
    margin-right: 10px;
    box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
}
.up_red{
    display: flex;
}
.ru_red{
    font-size:40px;
    color: #E20613;
}
.ru__text_red{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
}
.upr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.logo_woman{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text_logo{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin-left: 24px;

}
.left_block_woman{

    width: 636px;
}
.block_woman{
    display: flex;
    padding-left: 173px;
    padding-right: 173px;
    margin-top: 180px;
}
.rectangl{
    width: 777px;
    height: 900px;
    background: #171B29;
    border-radius: 25px;
    position: absolute;
    float: right;

}
.woman_iphone{
    position: relative;
    z-index: 3;
    margin-bottom: 2px;


}
.rect_woman_iphone{
    width: 891px;
    height: 928px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.text_woman_1{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}
.block_text_1{
    width: 644px;
    height: 368px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    line-height: 24px;
}
.text_woman_2{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #9FA1A6;

}
.block_text_2{
    margin-bottom: 20px;
    width: 644px;
    height: 136px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    line-height: 24px;
}
.block_text_3{
    display: flex;
    margin-bottom: 20px;
    line-height: 24px;
}
.text_woman3_left{
    margin-right: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFD100;
}
.text_woman3_right{
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #9FA1A6;
}
.block_text_4{
    height: 144px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.6;
    line-height: 24px;
    margin-bottom: 35px;

}
.text_woman_5{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: 2px solid #22A75D;
    box-sizing: border-box;
    border-radius: 52px;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
}
.up_text{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 20px;
}
.block6_bg{
    position: absolute;
    border-radius: 0px 300px 0px 0px;
}
.block_6_1{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 460px;
}
.block__60{
    display: flex;
}
.block__61{
    width: 511px;
    height: 585px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-right: 20px;
    padding: 57px 93px 87px 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block__62{
    width: 511px;
    height: 585px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 63px;
    padding: 57px 93px 87px 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block__63{
    width: 511px;
    height: 585px;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 57px 93px 87px 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_up_01{
    width: 323px;
    height: 288px;
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}
.g01{
    border: 25px solid #22A75D;
    box-sizing: border-box;
    background:#22A75D ;
    color: #191B21;
    border-radius: 50px 50px 50px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.phase{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 54px;
    color: #191B21;
    display: flex;
    justify-content: center;
}
.num{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #191B21;
    opacity: 0.8;
    text-align: center;
}
.block_down_01{
    color: #191B21;
    display: flex;
    width: 204px;
    height: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 63px;
}
.block_text_down_1{
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 20px;
color: #191B21;
opacity: 0.8;
}
.block_text_down_2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
    color: #191B21;
}
.crypt{
        font-style: normal;
    font-weight: blod;
    font-size: 16px;
    line-height: 20px;
    margin-left: 5px;
    opacity: 0.8;
    color: #191B21;

}
.block_text_down3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 20px;
    justify-content: center;
}
.g02{
    border: 25px solid #2278D4;;
    box-sizing: border-box;
    background:#2278D4; ;
    color: #191B21;
    border-radius: 50px 50px 50px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}
.g03{
    border: 25px solid #FFD100;
    box-sizing: border-box;
    background:#FFD100; 
    color: #191B21;
    border-radius: 50px 50px 50px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.resurs0{
    



}
.down{
    margin-top: 188px;



}
.textdown{
    display: flex;
    position: relative;
    z-index: 4;
    flex-direction: column;
    margin-left: 173px;
    margin-right: 173px;

}
.photodown{

margin-left: 239px;
    position: absolute;

}
.footer{
flex: 0 0 auto;
}

.howtb{
    height: 54px;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #F7F5F9;

}
.textdown0{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.col{
    display: flex;
    margin-bottom: 210px;
}
.col1{
    width: 511px;
    height: 270px;
    background: #171B29;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;


}
.col2{
    width: 511px;
    height: 270px;
    background: #171B29;
    border-radius: 25px;
}
.col3{
    width: 511px;
    height: 270px;
    background: #171B29;
    border-radius: 25px;
}
.col1text{
    width: 262px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 99px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.col101{
    margin-top: 30px;
    margin-left: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.3;
}
.col2{
    margin-top: 60px;
    margin-right: 20px;
}
.c01{
    margin-top: 120px;
    margin-bottom: 370px;
    border: 1px solid #0F1320;;
    box-sizing: border-box;
    background:#0F1320;; 
    font-size: 30px;
    color: #22A75D;
    border-radius: 50px;
    padding: 40px;
    position: absolute;
    left: 29.5%;




}
.c02{
    margin-top: 120px;
    margin-bottom: 370px;
    border: 1px solid #0F1320;;
    box-sizing: border-box;
    background:#0F1320;; 
    font-size: 30px;
    color: #FFD100;
    border-radius: 50px;
    padding: 40px;
    position: absolute;
    left: 63.5%;

}
.linkfoter{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.linktext{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: white;
}
.linkq{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.16;

}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.social{
    font-size: 30px;
    word-spacing: 15px;
    color: white;
}
i{
    padding: 9px;
    opacity: 0.5;
    border: 2px solid #29293e ;
    box-sizing: border-box;
    border-radius: 50px;
    color: white;
}